@use '../../styles/index' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 426px) {
    padding: 0 20px;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;

    .menu-button {
        display: none;
        @media (max-width: 991.82px) {
          display: block;
        }
    }

    .logo {
        display: none;
        @media (max-width: 991.82px) {
          display: block;
          width: 120px;
        }
    }


  }

  

  .navbar-right {
    @extend %content-center;

    .user-name {
      display: block;
      @media (max-width: 426px) {
        display: none;
      }
    }
  }
}

.ant-layout-header {
  line-height: 0;
}

.custom-drawer .ant-drawer-header {
    display: none;
}
  
.custom-drawer .ant-drawer-body {
    padding: 0;
}
